venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
data/raw/
# Ignore trained models
models/

# Ignore checkpoints
*.safetensors
*.bin
*.pt
*.pth

# Ignore caches
__pycache__/
.ipynb_checkpoints/

# Ignore virtual environment
venv/